In [1]:
from bs4 import BeautifulSoup

In [2]:
import requests

In [3]:
html=requests.get("https://en.wikipedia.org/wiki/Template:COVID-19_pandemic_data").text

In [6]:
soup=BeautifulSoup(html,'html5lib')

In [152]:
div = soup.find('div', 'scroll-container')

In [153]:
tabela = div.find('table')

In [101]:
linhas = tabela.find_all('td')

In [148]:
i = 3
pais = []
casos = []
mortes = []
while i < 33:
  pais.append(linhas[i].get('data-sort-value'))
  casos.append(linhas[i + 1].text.strip().replace(',', '.'))
  mortes.append(linhas[i + 2].text.strip().replace(',', '.'))
  i = i + 3

strip limpa o texto

In [149]:
dados = list(zip(pais, casos, mortes))

In [147]:
dados

[('\n', '140.849.173', '1.088.597'),
 ('\n', '82.951.379', '1.001.269'),
 ('\n', '43.129.563', '524.303'),
 ('\n', '30.701.900', '665.216'),
 ('\n', '29.351.614', '147.717'),
 ('\n', '25.949.175', '138.053'),
 ('\n', '22.295.739', '177.895'),
 ('\n', '18.007.169', '370.354'),
 ('\n', '17.889.849', '23.842'),
 ('\n', '17.147.477', '165.630')]

In [128]:
import pandas as pd

Importação usada apenas para mostrar a tabela

In [150]:
dataFrame = pd.DataFrame(dados, columns=["País", "Casos", "Mortes"])

In [151]:
dataFrame

             País        Casos     Mortes
0  European Union  140.849.173  1.088.597
1   United States   82.951.379  1.001.269
2           India   43.129.563    524.303
3          Brazil   30.701.900    665.216
4          France   29.351.614    147.717
5         Germany   25.949.175    138.053
6  United Kingdom   22.295.739    177.895
7          Russia   18.007.169    370.354
8     South Korea   17.889.849     23.842
9           Italy   17.147.477    165.630