# Atividade 2 - 2o Bimestre

<b>Aluno</b>:

## Leia o artigo abaixo e reproduza o hand-on apresentado.
https://towardsdatascience.com/machine-learning-basics-naive-bayes-classification-964af6f2a965

### Etapa 1: importando as bibliotecas

In [19]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

### Etapa 2: importar o conjunto de dados

In [29]:
dataset = pd.read_csv('https://raw.githubusercontent.com/mk-gurucharan/Classification/master/IrisDataset.csv')
X = dataset.iloc[:,:4].values
y = dataset['species'].values
dataset.head(5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

### Etapa 3: dividir o conjunto de dados em conjunto de treinamento e conjunto de teste

In [30]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

### Etapa 4: ajustar a escala das variáveis (features)

In [31]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

### Etapa 5: treinar o modelo de classificação Naive Bayes no conjunto de treinamento

In [32]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)

GaussianNB()

### Etapa 6: predição dos resultados do conjunto de testes

In [33]:
y_pred = classifier.predict(X_test) 
y_pred

array(['setosa', 'virginica', 'versicolor', 'versicolor', 'setosa',
       'virginica', 'virginica', 'setosa', 'virginica', 'setosa',
       'versicolor', 'setosa', 'virginica', 'versicolor', 'versicolor',
       'setosa', 'versicolor', 'virginica', 'virginica', 'versicolor',
       'versicolor', 'virginica', 'setosa', 'virginica', 'versicolor',
       'versicolor', 'virginica', 'versicolor', 'setosa', 'setosa'],
      dtype='<U10')

### Etapa 7: Matriz de confusão, acurácia e Precision/Recall/F1-Score

In [34]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
from sklearn.metrics import accuracy_score 
print ("Accuracy : ", accuracy_score(y_test, y_pred))
from sklearn.metrics import precision_recall_fscore_support 
print ("Precision : ", precision_recall_fscore_support(y_test, y_pred, average='weighted'))
from sklearn.metrics import recall_score 
print ("Recall : ", recall_score(y_test, y_pred, average='weighted'))
from sklearn.metrics import f1_score 
print ("F1 : ", f1_score(y_test, y_pred, average='weighted'))

Accuracy :  0.9666666666666667
Precision :  (0.9700000000000001, 0.9666666666666667, 0.9668192219679634, None)
Recall :  0.9666666666666667
F1 :  0.9668192219679634

### Etapa 8: Comparando os valores reais com os valores previstos

In [11]:
df = pd.DataFrame({'Real Values':y_test, 'Predicted Values':y_pred})
df

   Real Values Predicted Values
0    virginica        virginica
1    virginica        virginica
2   versicolor       versicolor
3       setosa           setosa
4   versicolor       versicolor
5    virginica        virginica
6   versicolor       versicolor
7       setosa           setosa
8    virginica        virginica
9   versicolor       versicolor
10      setosa           setosa
11  versicolor       versicolor
12   virginica        virginica
13  versicolor       versicolor
14      setosa           setosa
15   virginica        virginica
16      setosa           setosa
17   virginica        virginica
18      setosa           setosa
19   virginica        virginica
20   virginica        virginica
21   virginica        virginica
22   virginica        virginica
23  versicolor       versicolor
24  versicolor       versicolor
25   virginica        virginica
26  versicolor       versicolor
27  versicolor       versicolor
28  versicolor       versicolor
29      setosa           setosa